################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UnitTestDemo/.vs/UnitTestDemo
/UnitTestDemo/bin/Debug/netcoreapp3.1
/UnitTestDemo/obj
/UnitTestDemo/bin
/UnitTestDemo/.vs
/TestProject1/bin/Debug/netcoreapp3.1
/TestProject1/obj
